.mainimage {
  width: 100vw;
  height: 35vw;
}



#map {
  height: 700px;  /* The height is 400 pixels */
  width: 100%; 

}

.map-class {
  display: inline-block; /* The width is the width of the web page */
  float: right;
  width: 1000px;
  /* margin-right: 5px ; */
  height: 700px;
}

.centered {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Brush Script MT", cursive; 
  font-size: 110px; 
  font-style: normal; 
  font-variant: normal; 
  color: white;
}

.boxed {
  width: 500px;
  border: 2.2px solid gray;
  margin-left: 5px ;
  margin-right: 5px; 
}

.div-inline-block {
  display: inline-block;
}

.info-text {
  padding-left: 10px;
  padding-right: 10px;
}



